<!-- Add User -->
<h1>Página de usuários</h1>
<div>
  <div class="row mt-3">
    <div *ngIf="!submitted" class="col-100">
      <h2> <i class="fa fa-user" aria-hidden="true"></i>
         Adicione um novo usuário</h2>
      <div>
        <label for="title" class="col-100">Nome</label>
        <input
          type="text"
          class="mt-1 col-50"
          id="title" 
          [(ngModel)]="usuario.nome"
          name="title"
        />
      </div>
      <div class="row col-100 mt-1">
        <button (click)="saveUsuario()" class="button bg-success col-25">Adicionar</button>
      </div>
    </div>

    <div *ngIf="submitted">
      <h2>Usuario foi adicionado com sucesso!</h2>
      <button class="button bg-success" (click)="newUsuario()">Adicionar novo usuário</button>
    </div>
  </div>
</div>


<div class="list row mt-3">
    <!-- List Users -->
    <div class="col-100">
      <h2><i class="fa fa-users" aria-hidden="true"></i>
         Todos os usuários</h2>
      <div class="mt-2">
        <div 
          class="col-33 card"
          *ngFor="let usuario of usuarios; let i = index"
          [class.active]="i == currentIndex" 
        >
          <div class="card-image">
            <i class="fa fa-user-circle-o" aria-hidden="true"></i>
          </div>
          <hr>
          <div class="container-card">
            <h4><b>{{ usuario.nome }}</b></h4> 
          </div>
          <div class="card-footer"> 
              <button class="button bg-danger mr-2" (click)="setActiveUsuario(usuario, i)">
                Deletar
              </button>  
              <a routerLink="/usuario/{{ usuario.id }}/tarefas/">
                Ver tarefas
              </a> 
          </div>
        </div>
      </div>
    </div> 
  </div>
  
