<!-- Add User -->
<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Nome do Usuário</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="usuario.nome"
          name="title"
        />
      </div>

      <button (click)="saveUsuario()" class="btn btn-success">Submit</button>
    </div>

    <div *ngIf="submitted">
      <h4>Usuario was submitted successfully!</h4>
      <button class="btn btn-success" (click)="newUsuario()">Add</button>
    </div>
  </div>
</div>


<div class="list row">
    <!-- List Users -->
    <div class="col-md-6">
      <h4>Usuarios List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let usuario of usuarios; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveUsuario(usuario, i)"
        >
          {{ usuario.nome }}
        </li>
      </ul>
    </div>
    <!-- Detail User -->
    <div class="col-md-6">
      <div *ngIf="currentUsuario">
        <h4>Tutorial</h4>
        <div>
          <label><strong>Nome:</strong></label> {{ currentUsuario.nome }}
        </div> 
        <button class="badge badge-danger mr-2" (click)="deleteUsuario()">
          Delete
        </button>
        <a class="badge badge-warning" routerLink="/usuario/{{ currentUsuario.id }}/tarefas/">
          Ver tarefas
        </a>
      </div>
      
      <div *ngIf="!currentUsuario">
        <br />
        <p>Please click on a Usuario...</p>
      </div>
    </div>
  </div>
  
