/* You can add global styles to this file, and also import other style files */
*{
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Nunito', sans-serif;
    margin: 0 auto;
  }

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-33 {
  float: left;
  width: 30%;
  margin-top: 6px;
}
.col-50 {
  float: left;
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 60%;
  margin-top: 6px;
}

.col-100 {
  float: left;
  width: 100%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.mt-1 {
  margin-top: 10px;
}
.mt-2 {
  margin-top: 20px;
}
.mt-3 {
  margin-top: 30px;
}

.mr-2 {
  margin-right: 20px;
}

.container {
  width: 100%;
  max-width: 960px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

hr {
  color: rgba(0,0,0,0.2);
}

a {
  text-decoration: none;
  color: #4CAF50;
}
a:hover {
   text-decoration: none;
}

.button { 
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}
.bg-success{
  background-color: #4CAF50;
}

.bg-danger{
  background-color: #f44336;
}
.bg-primary {
  background-color:  #008CBA;
}

table { 
  border-collapse: collapse;
  width: 100%;
}

td{
  cursor: pointer;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #697a69;
  color: white;
}

@media screen and (max-width: 600px) {
  .col-25, .col-33, .col-50 ,.col-75{
    width: 100%; 
  } 
}